html {
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;
}

header {
  width: 80%;
  padding: 5px 10%;
  background: rgb(26, 195, 212); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(107,203,211,1) 0%, rgba(26,195,212,1) 40%, rgba(0,194,211,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(107,203,211,1)), color-stop(40%,rgba(26,195,212,1)), color-stop(100%,rgba(0,194,211,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(107,203,211,1) 0%,rgba(26,195,212,1) 40%,rgba(0,194,211,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(107,203,211,1) 0%,rgba(26,195,212,1) 40%,rgba(0,194,211,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(107,203,211,1) 0%,rgba(26,195,212,1) 40%,rgba(0,194,211,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(107,203,211,1) 0%,rgba(26,195,212,1) 40%,rgba(0,194,211,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bcbd3', endColorstr='#00c2d3',GradientType=0 ); /* IE6-9 */;
}

header table {
  width: 100%;
  text-align: center;
}

header table, header tr, header th, header td {
  border: none;
}

header h1 {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  vertical-align: middle;
}

header img {
  vertical-align: middle;
  display: inline-block;
  width: 100px;
}

.status-message {
  background: #FFFFCC;
  font: 0.8em sans-serif;
  color: #000080;
  text-align: center;
  position: relative;
}

.status-message p {
  padding: 3px 0px;
  margin: 0px;
  display: block;
  word-spacing: nowrap;
}

.status-message p:last-child {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0px 5px;
  cursor: pointer;
}

section {
  padding: 0px 3%;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

tr {
  border: 1px solid black;
}

th {
  padding: 3px 1px;
}

h1 {
  text-align: center;
}

footer {
  padding: 5px;
}
